{:paths ["src"]
 :deps {metosin/malli {:mvn/version "0.10.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}}}
           :clojure-10 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure-11 {}}}
