{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/malli {:mvn/version "0.18.0"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                               com.graphql-java/graphql-java {:mvn/version "20.7"}
                               camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}
                                    org.clojure/clojurescript {:mvn/version "1.11.57"}
                                    camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :gen-doc-tests {:replace-deps {org.clojure/clojure {:mvn/version "1.10.3"}
                                          com.github.lread/test-doc-blocks {:mvn/version "1.1.20"}}
                           :exec-fn lread.test-doc-blocks/gen-tests
                           :main-opts ["-m" "lread.test-doc-blocks" "gen-tests"]}
           :clojure-10 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure-11 {}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.10.0" :git/sha "3a2c484"}}
                   :ns-default build}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :pom-file "target/classes/META-INF/maven/fi.metosin/oksa/pom.xml"
                                :sign-releases? false
                                :artifact "target/oksa.jar"}}}}
