{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        metosin/malli {:mvn/version "0.10.4"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.82.1306"}
                               lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}
                               lambdaisland/kaocha-junit-xml {:mvn/version "1.17.101"}
                               com.graphql-java/graphql-java {:mvn/version "20.7"}
                               cljsjs/graphql {:mvn/version "0.13.1-0"}}}
           :test-cljs {:extra-paths ["test"]
                       :extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}
                                    org.clojure/clojurescript {:mvn/version "1.11.57"}
                                    cljsjs/graphql {:mvn/version "0.13.1-0"}}
                       :main-opts ["-m" "cljs-test-runner.main"]}
           :clojure-10 {:extra-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
           :clojure-11 {}
           :build {:deps {io.github.clojure/tools.build {:git/tag "v0.8.1" :git/sha "7d40500"}}
                   :ns-default build}
           :deploy {:extra-deps {slipset/deps-deploy {:mvn/version "RELEASE"}}
                    :exec-fn deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :pom-file "target/classes/META-INF/maven/fi.metosin/oksa/pom.xml"
                                :sign-releases? false
                                :artifact "target/oksa.jar"}}}}
