{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "3.4.10"}
        binaryage/devtools {:mvn/version "1.0.7"}
        lilactown/helix {:mvn/version "0.2.2"}
        cljs-bean/cljs-bean {:mvn/version "1.9.0"}
        appliedscience/js-interop {:mvn/version "0.2.5"}
        metosin/oksa {:git/url "https://github.com/metosin/oksa"
                      :sha "b1d76f73d7b255f773d222b1414373b7ae08ea01"}}}
